<div id="step" class="container">
    <span>tere la nora un récapitulatif des étapes</span>

    @Ajax.ActionLink("Précédent", "ProcessStep2", "Panier",
    new AjaxOptions
    {
        UpdateTargetId = "step",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "Get"
    }, new { @class = "btn btn-primary btn-block" }
    )
    @Html.ActionLink("Confirmer","Index","Home", new { @class = "btn btn-primary btn-block" })
</div>

<script>
    $("#part2").removeClass("active");
    $("#part2").addClass("complete");
    $("#part3").removeClass("disabled");
    $("#part3").addClass("active");  
    $("#part1").css({
        "-moz-box-shadow": "",
        "-webkit-box-shadow": "",
        "-o-box-shadow": "",
        "box-shadow": ""
    });
    $("#part2").css({
        "-moz-box-shadow": "",
        "-webkit-box-shadow": "",
        "-o-box-shadow": "",
        "box-shadow": ""
    });
    $("#part3").css({
        "-moz-box-shadow": "0px 12px 10px -10px #656565",
        "-webkit-box-shadow": "0px 12px 10px -10px #656565",
        "-o-box-shadow": "0px 12px 10px -10px #656565",
        "box-shadow": "0px 12px 10px -10px #656565",
        "filter": "progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=10)"
    });
</script>
