@using MC3Shopper.Models
@{
    ViewBag.Title = "Commande";
}

<div class="container">

    <h2 style="text-align:center">Commander</h2>

    <div class="row bs-wizard" style="border-bottom:0;">

        <div id="part1" class="col-xs-4 bs-wizard-step" style="z-index:990">
            <div class="text-center bs-wizard-stepnum">Etape 1</div>
            <div class="progress" style="width:200%"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center step-1">Panier</div>
        </div>

        <div id="part2" class="col-xs-4 bs-wizard-step" style="z-index:997">
            <div class="text-center bs-wizard-stepnum">Etape 2</div>
            <div class="progress" style="width:0px"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center step-2">Lieu de livraison</div>
        </div>

        <div id="part3" class="col-xs-4 bs-wizard-step" style="z-index:995">        
            <div class="text-center bs-wizard-stepnum">Etape 3</div>
            <div class="progress" style="width:0px"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center step-3">Confirmation</div>
        </div>
    </div>
    <div class="col-md-12" id="slide-step1">
        @{
            Html.RenderAction("_ResumePanier", "Panier");
        }
        <div class="btn btn-primary" id="next1">Suivant</div>

    </div>
            
    <div class="col-md-12" id="slide-step2">
        <div class="row">
            <legend>Lieu de livraison</legend>
            <div class="col-md-3">
                
                <label>Je souhaite...</label>
                <select id="mode" class="form-control" >
                    <option>--</option>
                    <option>faire un retrait</option>
                    <option>une livraison</option>
                </select>
            </div>
            <div class="col-md-3">
                <label>Lieu</label>
                <select id="lieu" class="form-control" >
                    <option>--</option>
                    <option>St Denis</option>
                    <option>St Pierre</option>
                </select>
            </div>
            <div class="col-md-3">
                <label>Date</label>
                <input type="text" id="datepicker" class="form-control" style="background-color:white"> <!--DATEPICKER-->
                <input type="checkbox" />Livraison partielle
            </div>           
     </div>

        

        <div class="row" style="margin:auto">
            <div class="btn btn-primary" id="return1">Précédent</div>
            <div class="btn btn-primary" id="next2">Suivant</div>
        </div>    

    </div>

    <div class="col-md-12" id="slide-step3">
        <legend>Confirmation</legend>
        <div class="btn btn-primary" id="return2">Précédent</div>
        <div class="btn btn-primary" id="next3">Confirmer</div>
    </div>
    
</div>

