<div id="step" class="container">
    <span>tere la nora un récapitulatif des étapes</span>

    @Ajax.ActionLink("Précédent", "ProcessStep2", "Panier",
    new AjaxOptions
    {
        UpdateTargetId = "step",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "Get"
    }, new { @class = "btn btn-primary btn-block" }
    )
    @Html.ActionLink("Confirmer","Index","Home", new { @class = "btn btn-primary btn-block" })
</div>

<script>
    $("#part2").removeClass("active");
    $("#part2").addClass("complete");
    $("#part3").removeClass("disabled");
    $("#part3").addClass("active");
</script>
