<div id="step" class="container">

    <div class="row">
        <h2>Beautify Checkboxes and Radio Input Group Addons</h2>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon beautiful">
                        <input type="checkbox">
                    </span>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon beautiful">
                        <input type="checkbox">
                    </span>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>

    @Ajax.ActionLink("Précédent", "ProcessStep1", "Panier",
    new AjaxOptions
    {
        UpdateTargetId = "step",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "Get"
    }, new { @class = "btn btn-primary btn-block" }
    )

    @Ajax.ActionLink("Suivant", "ProcessStep3", "Panier",
    new AjaxOptions
    {
        UpdateTargetId = "step",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "Get"
    }, new { @class = "btn btn-primary btn-block" }
    )
</div>

<script>
    StepTwo();
</script>