<div id="step" class="container">
    <span>tere la va di a ou komen fo payer </span>
    @Ajax.ActionLink("Suivant", "ProcessStep4", "Panier",
    new AjaxOptions
    {
        UpdateTargetId = "step",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "Get"
    }, new { @class = "btn btn-primary btn-block" }
    )
</div>
