@using MC3Shopper.Models
@{
    ViewBag.Title = "Commande";
}

<div class="container">

    <h2>Etapes de commande</h2>

    <div class="row bs-wizard" style="border-bottom:0;">

        <div id="part1" class="col-xs-4 bs-wizard-step ">
            <div class="text-center bs-wizard-stepnum">Etape 1</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Panier</div>
        </div>

        <div id="part2" class="col-xs-4 bs-wizard-step ">
            <div class="text-center bs-wizard-stepnum">Etape 2</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Lieu de livraison</div>
        </div>

        <div id="part3" class="col-xs-4 bs-wizard-step ">
            <div class="text-center bs-wizard-stepnum">Etape 3</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Confirmation</div>
        </div>
    </div>
</div>
