
@{
    ViewBag.Title = "CGV";
}



<div class="container">
    <div class="col-md-12" id="cgv">
        <h2><u>Conditions générales de vente</u></h2>
        </br>
            <h4><u>1. APPLICATION ET ACCEPTATION DES CONDITIONS GÉNÉRALES DE VENTE DE MC3 Océan Indien</u></h4>

        <p>
            Les présentes conditions générales de vente sont applicables à tout produit vendu ou à toute prestation de service fournie par MC3 Océan Indien.
            </br>Elles sont applicables dans leur intégralité pour tout contrat passé entre MC3 Océan Indien et ses clients en France ou à l'étranger, quel que soit le lieu de livraison.
            </br>Les présentes s’appliquent également aux échanges selon les normes EDI, XML, FTP, et plus généralement à tout autre mode d’échange électronique présent et à venir.
            </br>Aucune dérogation aux présentes conditions ne pourra être admise sans accord exprès et préalable de MC3 Océan Indien.
            </br>Toute condition contraire aux présentes conditions générales de vente posée par l'acheteur, dans ses conditions générales d'achats ou dans tout autre document, sera inopposable à MC3 Océan Indien, quel que soit le moment où elle aura pu être portée à sa connaissance et même en l'absence de protestations par MC3 Océan Indien de ces conditions contraires.
            </br>MC3 Océan Indien commercialise ses produits exclusivement auprès de professionnels dont l'activité se rapporte aux techniques et matériels électroniques, mécaniques et électriques, aux techniques et matériels informatiques, aux techniques et matériels de reproduction et au matériel de bureau.
            </br>Les relations entre MC3 Océan Indien et ses clients seront régies exclusivement par la réglementation applicable aux relations entre professionnels de même spécialité.
            </br>Le client reconnaît que le seul fait de passer commande auprès de MC3 Océan Indien, implique qu'il sera assimilé à un professionnel de même spécialité que MC3 Océan Indien.
        </p>

            </br><h4><u>2. COMMANDES ET EXECUTION</u></h4>
        <p>
            Toute commande passée auprès de MC3 Océan Indien est ferme et définitive pour le client dès la réception par MC3 Océan Indien d'un bon de commande écrit.
            </br>Exceptionnellement, le client pourra annuler sa commande s’il obtient un accord écrit et non équivoque de MC3 Océan Indien.
            </br>MC3 Océan Indien se réserve le droit, à compter de la réception de la commande de l’accepter, de rejeter celle-ci ou de faire des réserves. Un accusé de réception de commande ne constitue pas une acceptation de commande.
            </br>L'indisponibilité d'un produit du fait d'une rupture de stock, de sa suppression du catalogue ne pourra entraîner aucune annulation de la commande globale et ne donnera droit à aucune indemnité de la part de MC3 Océan Indien.

            </br></br>MODALITES DE PASSATION DES COMMANDES PAR L’INTERMEDIAIRE DU SYSTEME INFORMATIQUE DE MC3

            </br></br>MC3 Océan Indien met gratuitement à la disposition de ses clients des données et informations, notamment sur ses produits et sur l'état de ses stocks, et un système de passation des commandes par l'intermédiaire de son système informatique, conformément à l’annexe 1 des présentes conditions, dont le client déclare avoir pris connaissance, et en accepte le contenu sans réserves.
        </p>

            </br><h4><u>3. CAS PARTICULIER DES COTATIONS CONSTRUCTEURS ET EDITEURS</u></h4>
        <p>
            Dans le cadre des cotations spéciales émanant des constructeurs et éditeurs, telles que BID IBM, OPG HP, et autres, le client revendeur s'engage sans réserves et à première demande, à communiquer à MC3 Océan Indien, dans un délai n'excédant pas 8 jours, le bon de commande émanant de son propre client, ainsi que toute preuve de livraison à son client (client final). A default, le client accepte de payer la différence entre le prix spécial et le prix aux conditions normales de remises.
        </p>
            </br><h4><u>4. PRIX</u></h4>
        <p>
            Les produits et services sont fournis au prix fixé sur la base du tarif MC3 Océan Indien en vigueur au moment de la réception de la commande chez MC3 Océan Indien.
            </br>Les prix s'entendent départ entrepôt, toutes taxes comprises. Les frais de port, dont le montant peut être modifié à tout moment et sans préavis, sont à la charge du client. Les prix sont modifiables sans préavis et varient en fonction des remises et ristournes applicables à la date de réception de la commande.
            </br>Les conditions et taux de ristournes seront communiqués par MC3 Océan Indien au client sur simple demande écrite.
        </p>
            </br><h4><u>5. OUVERTURE DE COMPTE DÉLAIS ET CONDITIONS DE PAIEMENT</u></h4>

            <h5><u>5.1 Ouverture de compte</u></h5>
        <p>
            Tout nouveau client de MC3 Océan Indien devra, préalablement à sa prise de commande, faire une demande à MC3 Océan Indien en vue d'obtenir communication du questionnaire d'ouverture de compte et retourner à MC3 Océan Indien.
            </br>Ce questionnaire dûment complété par courrier, par émail ou par télécopie accompagné d'un exemplaire daté, signé, paraphé et revêtu du cachet commercial des présentes conditions générales de vente :
            </br>- d'un Relevé d'Identité Bancaire,
            </br>- d'un extrait K-Bis original datant impérativement de moins de 3 mois
            </br>- de son numéro de SIREN et de son code APE
            </br>- d'une copie recto-verso d'un justificatif d'identité du représentant légal en cours de validité (carte nationale d'identité ou passeport ou permis de conduire ou titre de séjour régulier).
            </br>Dès l'approbation de MC3 Océan Indien, le compte client sera ouvert. Les deux premières commandes seront impérativement réglables avant livraison par virement.
        </p>
            <h5><u>5.2 Délais de paiement</u></h5>
        <p>
            Les factures sont payables à l’adresse mentionnée sur la facture MC3 Océan Indien, de telle manière que cette dernière puisse disposer des sommes dues le jour de l'échéance. Les factures seront payables avant la livraison ou à l'enlèvement par virement, par chèque de banque ou par carte bancaire acceptée.
            </br>Les clients bénéficiant d'une ligne de crédit auront droit à un délai de paiement, dont la durée sera fonction pour chaque client du montant de sa ligne de crédit et du chiffre d'affaires réalisé, selon un barème qui sera communiqué sur simple demande écrite du client.
            </br>MC3 Océan Indien s'accorde le droit de modifier ou de supprimer à tout moment et sans préavis la ligne de crédit accordée au client.
        </p>
            <h5><u>5.3 Retard de paiement</u></h5>
        <p>
            En cas de paiement intervenant après la date d'échéance figurant sur la facture, MC3 Océan Indien exigera le paiement immédiat de toutes les factures non échues (déchéance du terme). En outre des intérêts de retard au taux conventionnel de 1,5 % par mois seront appliqués faute de paiement, et sans mise en demeure préalable, dès le jour suivant la date de règlement figurant sur la facture sans toutefois que ce montant puisse être inférieur à 115 euros et au paiement d’une indemnité forfaitaire pour frais de recouvrement d’un montant de 40€.
            </br>Le retard de paiement pourra donner lieu en outre à la suspension des commandes et livraisons en cours et au retrait de toute possibilité de délai de paiement tel que mentionné ci-dessus.
        </p>
            </br><h4><u>6. FACTURES ELECTRONIQUES</u></h4>
        <p>
            Le client accepte sans réserve de recevoir ses factures MC3 Océan Indien par voie électronique ou support papier, conformément à l'article 289 bis du Code général des Impôts.
        </p>
            </br><h4><u>7. CONDITIONS DE LIVRAISON</u></h4>

            <h5><u>7.1 Modalités</u></h5>
        <p>
            La livraison prend effet au moment de l'enlèvement des produits par le client au lieu l'entreposage de MC3 Océan Indien ou au moment de l'enlèvement des produits par le transporteur.
            </br>Le client s'engage à prendre livraison des produits dans les entrepôts de MC3 Océan Indien du lundi au vendredi pendant les heures d'ouverture dans les 3 jours suivant la mise en livraison. Un pouvoir rédigé sur papier à en-tête du client et signé par le dirigeant, devra impérativement être remis à MC3 Océan Indien pour l'enlèvement des produits, par la personne procédant à l'enlèvement.
            </br>Cette dernière devra en outre justifier de son identité. A défaut d'enlèvement dans le délai de 3 jours, MC3 Océan Indien se réserve la possibilité d'annuler la commande des produits.
        </p>
            <h5><u>7.2 Délais de livraison</u></h5>
        <p>
            Les délais de livraison indiqués par MC3 Océan Indien sont établis en toute bonne foi et sont donnés à titre indicatif. Aucune indemnité ne pourra être accordée au client en cas de non-respect de ces délais, et aucune commande ne pourra être annulée de ce fait.
            </br>En cas de rupture de stock d'un ou plusieurs produits commandés, MC3 Océan Indien procédera à la livraison des existants. Sur demande écrite du client, MC3 Océan Indien acceptera d'attendre la disponibilité de la totalité des produits commandés pour livrer le client et éviter ainsi des livraisons partielles, excepté dans les cas de commandes de produits spécifiques.
        </p>
            <h5><u>7.3 Transfert des risques</u></h5>
        <p>
            Le transfert des risques intervient à la date de livraison telle que définie au point 8.1. En conséquence, les produits voyagent aux risques et périls exclusifs du destinataire.
        </p>
            <h5><u>7.4 Frais de transport</u></h5>
        <p>
            Les frais de transport sont définis dans un barème distinct qui sera communiqué par MC3 Océan Indien à tout client qui en fera la demande écrite.
        </p>
            <h5><u>7.5 Réception des produits</u></h5>
        <p>
            Le client est tenu de vérifier l'état de l'emballage, le nombre et le contenu des colis, ainsi que l'état des produits lors de la livraison. En conséquence, toute anomalie concernant la livraison (avarie, produit manquant par rapport au bon de livraison, emballage endommagé, produits cassés…) devra être constatée par le client sous la forme de réserves manuscrites claires, précises et complètes sur le bon de livraison/transport, et ce en présence du transporteur, le transporteur et le client dateront et signeront les réserves émises.
            </br>En cas de refus de signer les réserves de la part du transporteur, le client devra aussi le stipuler par écrit sur le bon de livraison. En outre, et conformément à l'article L.133-3 du Code de commerce, le client devra parallèlement à l'émission de réserves confirmer l'anomalie en adressant un courrier recommandé avec avis de réception au transporteur dans les trois jours suivants la livraison dans le but de confirmer lesdites réclamations.
            </br>La copie de ce courrier, ainsi que celle du bon de livraison comportant les réserves devront parvenir par courrier à la société MC3 Océan Indien dans le délai de 5 jours suivant la livraison. Il est rappelé au client qu'à défaut de suivre scrupuleusement cette procédure ainsi que de respecter les délais, toute demande d'ouverture de dossier litige sera irrévocablement rejetée, de sorte qu'aucun recours ne sera plus admis à l'encontre de la société MC3 Océan Indien.
            </br>Par ailleurs, le refus des produits à la livraison par le client pourra être considéré comme abusif si ce client ne peut justifier la réalité des anomalies invoquées sur son bon de livraison (BL) et sur son bon de transport. En cas de refus abusif des produits, MC3 Océan Indien pourra réclamer au client une indemnité forfaitaire de 46 €.
            </br>MC3 Océan Indien se réserve le droit de facturer les preuves de livraison, aux clients qui en font la demande.
        </p>
            <h5><u>7.6 Livraison directe à un “client final” (service de Dropshipment)</u></h5>
        <p>
            Dans le cadre de ce service, le client mandate MC3 Océan Indien afin qu'elle livre à son propre client ("client final"), au nom et pour le compte du client, les produits commandés. Le bon de commande établi par le client devra préciser les coordonnées du client final. Ce service n'est fourni que dans l'hypothèse où le client final peut réceptionner les produits aux jours et heures ouvrables. Le coût de ce service, dû en sus des frais de transport, est défini dans un barème distinct communiqué par MC3 Océan Indien à tout client qui en fait la demande par écrit. MC3 Océan Indien ne pourra être tenue pour responsable de la non-conformité de la livraison à la commande passée par le client final, si cette livraison est conforme à la commande passée par le client auprès de MC3 Océan Indien.
        </p>
            <h5><u>7.7 Prestations de services additionnelles</u></h5>
        <p>
            En principe, MC3 Océan Indien ne procède pas à l’installation des produits, sauf convention particulière contraire. Dans le cas d’un accord sur la réalisation par MC3 Océan Indien d’une ou plusieurs de ces prestations, le Client devra, sous son entière responsabilité :
            </br>- Assurer à MC3 Océan Indien le libre accès au site,
            </br>- Fournir les facilités nécessaires à la prompte exécution de l’installation,
            </br>- Procéder lui-même au déballage des produits sur le site et à leur protection,
            </br>- Fournir la preuve de l’autorisation des licences de logiciels de tous systèmes d’exploitation de réseau que MC3 Océan Indien doit charger dans le cadre de l’installation,
            </br>- Assumer la responsabilité de la compatibilité des logiciels d’application installés après l’achèvement de l’installation.
            </br>Ces prestations seront facturées, en sus, au tarif en vigueur à la date de la commande.
        </p>
            </br><h4><u>8. CONDITIONS DE GARANTIE</u></h4>
        <p>
            MC3 Océan Indien rappelle qu'elle est, en sa qualité de grossiste, l'intermédiaire entre le constructeur et le client, et qu'en conséquence, MC3 Océan Indien ne fournit aucune garantie contractuelle quant aux produits, hormis la garantie légale prévue aux articles 1641 à 1649 du Code civil. En conséquence, les produits vendus par MC3 Océan Indien sont garantis dans les conditions déterminées par le fabricant qui n'engagent que celui-ci. Elles seront communiquées à tout client qui en fait la demande écrite. Ces conditions de garantie sont en outre disponibles sur le site Internet de MC3 Océan Indien.
            </br>Pour bénéficier de cette garantie, le client devra aviser immédiatement le service assistance, par tous moyens écrits, des désordres allégués. A toutes fins utiles, MC3 Océan Indien rappelle que les produits ayant fait l’objet d’une « casse » sont exclus de la garantie du fabricant. MC3 Océan Indien ne sera tenue à aucune indemnisation pour les dommages immatériels tels que perte de production, perte d'exploitation, perte de chance, perte de données, préjudice financier ou commercial ou autres qui seraient la conséquence directe ou indirecte des dommages subis suite à l'utilisation ou à la défaillance des marchandises livrées. En cas de disparition d'un constructeur ou éditeur (pour cessation d'activité, dissolution, procédure collective), MC3 Océan Indien n'assumera aucune responsabilité en matière de garantie sur les produits de ce constructeur ou éditeur qu'elle aura commercialisé auprès de ses clients. En tout état de cause, MC3 Océan Indien rappelle que le fait d'actionner la garantie ne saurait en aucun cas être un motif de non-paiement de la facture correspondante, laquelle sera payée à l'échéance indiquée.
        </p>
            </br><h4><u>9. RETOUR DES PRODUITS</u></h4>

            <h5><u>9.1 Demandes de retour</u></h5>
        <p>
            Aucun retour de produits ne sera accepté à défaut d'accord express et préalable de MC3 Océan Indien qui devra être informée de la demande de retour du client dans un délai maximum de 2 jours ouvrés à compter de la livraison. Cette réclamation devra être faite soit sur le site Internet de MC3 Océan Indien, soit par écrit sur l'imprimé figurant sur le catalogue, être retournée par fax à l'attention du service assistance de MC3 Océan Indien, et mentionner obligatoirement :
            </br>- la référence du client,
            </br>- le numéro du bon de livraison et de la facture,
            </br>- la référence du produit et la quantité,
            </br>- le motif exact de la demande,
            </br>- l'état du produit et le numéro de série du produit,
            </br>- le fax du service technique de MC3 Océan Indien dans le cas d'un produit commandé sur proposition de celui-ci.
            </br>Le client devra joindre aux produits retournés :
            </br>- un numéro de retour accordé par le service assistance de MC3 Océan Indien, lequel figurera en évidence à l'extérieur du colis retourné.
            </br>- la photocopie du bon de livraison ou l'imprimé “demande de retour”.
            </br>MC3 Océan Indien ne peut autoriser le retour que dans les cas suivants :
            </br>- en cas de non-conformité des produits livrés au bon de commande,
            </br>- en cas de vice caché au sens de l’article 1641 du Code civil, ce vice devant être reconnu par MC3 Océan Indien,
            </br>- en cas de livraison de produits commandés par le client, sur le conseil, confirmé par écrit, du service technique de MC3 Océan Indien, lorsque les produits ne correspondraient pas au besoin du client. </br>Dans les 3 hypothèses ci-dessus mentionnées, MC3 Océan Indien indiquera au client si le produit doit être retourné à MC3 Océan Indien ou directement au centre de maintenance agréé par le fabricant. En tout état de cause, aucun retour de produits ne sera accepté pour les “produits consommables”, pour les produits ayant fait l’objet d’une commande spécifique par le client, ainsi que pour les produits déclarés obsolètes par MC3 Océan Indien. Dès réception de la demande de retour formulée par le client, MC3 Océan Indien donnera son accord pour le retour du produit ou motivera son refus de reprise de ce produit.
            Les conditions de retour des licences propres à chaque éditeur sont disponibles sur simple demande ou sur le site Internet de MC3 Océan Indien.
        </p>
            <h5><u>9.2 Conséquences du retour</u></h5>

            <h5><u>9.2.1 Retours acceptés</u></h5>
        <p>
            Aucun retour ne sera accepté après un délai de 8 jours à compter de la date de l'accord exprès et préalable de MC3 Océan Indien Les retours acceptés par MC3 Océan Indien donneront lieu à l'établissement d'un avoir, dont le montant sera égal au tarif MC3 Océan Indien HT en vigueur au jour de la réception par MC3 Océan Indien des produits retournés, et dans la limite du montant initialement facturé. Excepté dans les cas de retour de produits comportant un vice caché, aucun avoir ne sera émis en cas de retour de produits, dont les emballages auront été ouverts ou de produits qui auront été installés ou testés. Les frais et risques du retour seront à la charge du client (MC3 Océan Indien conseille au client de souscrire une assurance couvrant les risques inhérents au transport), sauf en cas de retour exclusivement imputables à MC3 Océan Indien. Dans ce dernier, cas MC3 Océan Indien mandatera un transporteur pour organiser le retour du produit. Le client devra alors remettre le produit au transporteur, exiger et conserver la preuve de remise des produits à ce transporteur. MC3 Océan Indien rappelle que le client qui ne serait pas en mesure de produire cette preuve de remise au transporteur serait réputé être toujours en possession des produits en cause, lesquels devront être intégralement payés à MC3 Océan Indien.
            </br>Tout retour accepté justifié par des motifs imputables au client donnera lieu à la facturation au client de frais administratifs de gestion de 46 euros.
        </p>
            <h5><u>9.2.2 Retours non acceptés</u></h5>
        <p>
            Lorsque des produits auront été retournés sans l’accord exprès et préalable de MC3 Océan Indien, ils seront systématiquement refusés et renvoyés à l'expéditeur à ses frais. Dans cette hypothèse, la facture correspondante sera bien entendu payée à l'échéance.
            </br>Les risques portant sur des produits retournés sans accord exprès et préalable de MC3 Océan Indien seront à la charge du client.
            </br>Le présent article 11.2.2 sera applicable dans les hypothèses de retours effectués hors délai ou de retours de produits dont les emballages auront été ouverts ou de produits installés ou testés (cf. Article 7.2.1).
        </p>
            </br><h4><u>10. OBLIGATIONS DU CLIENT- DROITS INCORPORELS</u></h4>
        <p>
            La vente de logiciels et autres produits n'entraîne, en aucun cas, cession des droits de reproduction, représentation, exploitation et plus généralement tous droits incorporels reconnus ou à reconnaître à ceux qui ont participé à la réalisation des logiciels et autres produits et à leurs ayants droit. En conséquence, le client s'interdit de télédiffuser ou de permette la télédiffusion, de tout ou partie des logiciels et autres produits vendus, par quelque système que ce soit. Il s'interdit également d'assurer ou de faire assurer des représentations publiques à des fins commerciales. Il est plus généralement rappelé que conformément aux dispositions du Code de la Propriété Intellectuelle, les logiciels et autres produits vendus sont destinés exclusivement à l'usage privé dans le cadre dit “du cercle de famille” et le réseau professionnel et que tout contrevenant s'expose aux sanctions civiles et pénales prévues en matière de contrefaçon. De même, le client s'interdit de reproduire, faire reproduire ou permettre la reproduction même partielle de ces logiciels ou autres produits quelles que soient les modalités. La violation de ces dispositions pourra entraîner l'annulation de toute commande, ce, nonobstant l'engagement de poursuites.
            </br>MC3 Océan Indien se réserve le droit, pour la vente de certains produits impliquant un traitement fiscal dérogatoire, d'exiger la production de toutes pièces de nature à justifier une telle dérogation. Le client sera seul responsable de la validité et de l'authenticité des pièces communiquées.
        </p>
            </br><h4><u>11. RÉSERVE DE PROPRIÉTÉ</u></h4>
        <p>
            La société MC3 Océan Indien se réserve expressément la propriété des marchandises livrées jusqu'à paiement intégral de leur prix en principal et intérêts. A défaut de paiement intégral du prix des produits en principal et intérêts, MC3 Océan Indien pourra, à tout moment, reprendre les produits chez le client. MC3 Océan Indien pourra également reprendre la marchandise non payée entre les mains des sous-acquéreurs ou en exiger le paiement direct de la part de ceux-ci. Ne constitue pas un paiement au sens du présent article la remise d'un titre créant une obligation de payer, traite ou autre. Jusqu'à complet paiement du prix, le client ne pourra pas donner les produits en gage, ni les échanger, ni les transférer en propriété à titre de garantie. La présente clause de réserve de propriété ne faisant pas obstacle dès la livraison des produits au transfert des risques au client, conformément à l'article 5.3 ci-dessus, le client s'engage à apporter tous ses soins à la garde et à la conservation des produits et à souscrire toute assurance utile. Les produits livrés non encore intégralement payés devront être individualisés et ne pas être mélangés avec d'autres produits. L'ouverture d'une procédure collective au profit du client ne peut faire échec à la revendication des marchandises par la société MC3 Océan Indien.
            </br>L'acheteur s'engage, dans ce cas, à participer activement à l'établissement d'un inventaire des marchandises se trouvant dans les stocks et dont MC3 Océan Indien revendique la propriété. A défaut, MC3 Océan Indien aura la faculté de faire constater l'inventaire par huissier, aux frais du client. En cas de paiement partiel, celui-ci s'imputera d'abord sur les intérêts de retard, et les créances les moins anciennes.
            </br>MC3 Océan Indien entend maintenir ses conditions générales de vente aussi longtemps que possible. Néanmoins, MC3 Océan Indien se réserve le droit de procéder à tout moment, sans préavis, à des modifications des présentes conditions générales de vente, par hypothèse évolutives.
        </p>
            </br><h4><u>12. ATTRIBUTION DE JURIDICTION ET DROIT APPLICABLE</u></h4>
        <p>
            De façon expresse, il est donné attribution de juridiction aux Tribunaux compétents de SAINT-DENIS de la REUNION pour toute contestation pouvant surgir entre les parties, même en cas de référé, d'appel en garantie ou de pluralité de défendeurs, avec application de la loi française.
        </p>

        
        </br></br>
        
        
        
        <h2><u>Conditions d’accès au système informatique MC3 Océan Indien</u></h2>
        </br>
        <h4><u>1 - OBJET</u></h4>

        <p>
            Les présentes conditions ont pour objet de définir :
            </br>Les conditions d’accès du REVENDEUR au système informatique MC3 Océan Indien (ci-après désigné " le système " ) dans les conditions prévues par les présentes. Le système étant composé du site Internet MC3 Océan Indien, ainsi que des autres systèmes d’échanges électroniques tels que EDI, XML, FTP, et tous autres moyens d’échanges électroniques présents et à venir.
        </p>

        <h4><u>2 - ACCÈS AU SYSTÈME MC3 Océan Indien</u></h4>

        <h5><u>2.1 Principes Généraux</u></h5>

        <h5><u>2.1.1 Acceptation des procédures d'accès par le REVENDEUR</u></h5>
        <p>
            Le REVENDEUR est autorisé à accéder au système, à la condition de se conformer strictement aux procédures d'accès réservant l'accès dudit système à des personnes autorisées, aux seules fins d'utiliser les informations disponibles sur le système dans le cadre de son activité de revendeur de produits fournis par MC3 Océan Indien et à la condition expresse d'accepter que la responsabilité de MC3 Océan Indien soit limitée comme prévu à l'Article 2.4 ci-après, compte tenu notamment de ce que l'autorisation d'accès est gratuite pour le REVENDEUR, hors coût du prix de la connexion et du matériel nécessaire à l’établissement de celle-ci.
        </p>
        <h5><u>2.1.2 Mise à disposition du REVENDEUR d'un code d'accès personnel</u></h5>
        <p>
            L’accès au système informatique de MC3 Océan Indien est réservé aux utilisateurs désignés par le REVENDEUR. Le REVENDEUR déterminera pour chaque utilisateur l’étendue du droit dont l’utilisateur disposera : droit restreint à la consultation seule ou droit de consulter et commander. A chaque Utilisateur sera attribué un code d’accès « code client » ainsi qu’un mot de passe lui permettant d’exercer les droits qui lui ont été accordés par le Revendeur.
            </br>Les codes d’accès Utilisateurs et mots de passe sont définis par MC3 Océan Indien
            </br>La gestion des Utilisateurs relèvera ensuite de la responsabilité du REVENDEUR.
            </br>Les codes Utilisateurs et les mots de passe sont personnels et confidentiels. Le REVENDEUR prendra toute mesure pour que lui-même et les Utilisateurs ne les divulguent à aucun tiers et prennent les plus grandes précautions afin qu’ils restent secrets. Le REVENDEUR reconnaît expressément que l’utilisation combinée du code d’accès et du mot de passe permettant de commander constituera la preuve irréfutable de l’identité de l’Utilisateur et de son habilitation à commander en représentant valablement le REVENDEUR. Le REVENDEUR sera seul responsable de l’usage qui sera fait de ses codes d’accès utilisateurs et de ses mots de passe.
            </br>En cas de perte ou de vol d’un ou des mots de passe le REVENDEUR devra faire opposition dans les plus brefs délais auprès de MC3 Océan Indien par lettre recommandée avec accusé de réception, ladite opposition prenant effet dans un délais de 1 jour ouvré de sa réception par MC3 Océan Indien
            </br>Seule l’opposition de LRAR permettra au REVENDEUR de dégager sa responsabilité au titre de toute utilisation qui pourrait être faite de son code d’accès Utilisateur associé à son ou ses mots de passe.
        </p>
        <h5><u>2.2 Modalités d'accès</u></h5>
        <p>
            Le REVENDEUR s’engage à utiliser le système en conformité avec l’ensemble des instructions, procédures et normes de sécurité telles que définies par MC3 Océan Indien. Le système n'est accessible au REVENDEUR que sur justification d’un code d'accès " administrateur " ou " utilisateur " (ci-après désigné " code d’accès autorisé ") selon les procédures prévues dans le cadre du fonctionnement du système, qui sont évolutives et pourront être modifiées par MC3 Océan Indien unilatéralement et sans préavis.

            </br>Le REVENDEUR s'engage :

            </br>(a) à ne pas accéder ni chercher à accéder au système autrement qu'en utilisant ses codes d'accès autorisés conformément aux procédures d'accès, et
            </br>(b) à informer MC3 Océan Indien immédiatement, dès qu'il en aura connaissance ou aurait dû en avoir connaissance, de tout risque d'abus ou d'utilisation non autorisée de ses codes d'accès et à confirmer sans délai à MC3 Océan Indien l'existence d'un tel risque par télécopie confirmée par lettre recommandée.
        </p>
        <h5><u>2.3 Informations accessibles sur le système MC3 Océan Indien</u></h5>
        <p>
            L'accès au système MC3 Océan Indien permet au REVENDEUR d'accéder entre autres aux données et informations suivantes propriétés de MC3 Océan Indien :
            </br>(a) Informations sur les produits et sur les prix (publics et revendeurs),
            </br>(b) État indicatif des stocks de certains produits MC3 Océan Indien mis à jour de façon régulière.
            </br>(c) Etat et suivi des commandes
            </br>(d) Suivi de la comptabilité client
            </br>(e) Etat et suivi des dossiers SAV
            </br>Le revendeur déclare accepter que MC3 Océan Indien modifie les informations accessibles.
        </p>
        <h5><u>2.4 Limitations de la Responsabilité de MC3 Océan Indien</u></h5>
        <p>
            Compte tenu en particulier de ce que l'accès au système est assuré gratuitement hormis le coût du prix de la connexion ainsi que celui du matériel nécessaire à celle-ci, ce que reconnaît expressément le REVENDEUR, la responsabilité de MC3 Océan Indien vis-à-vis du REVENDEUR est par convention expresse soumise aux limitations et conditions suivantes sans lesquelles MC3 Océan Indien n'aurait pas consenti aux présentes conditions :
            </br>(1) Tout en faisant en sorte d'apporter le plus grand soin à la préparation des informations et données disponibles sur le système et à leur mise à jour, MC3 Océan Indien n'est en aucun cas tenue à une obligation de résultat quant à l'exactitude de ses informations et données,

            </br>Notamment :
            </br>(a) MC3 Océan Indien ne garantit pas l'exactitude des informations et données disponibles sur le système au moment de l'accès audit système et il appartiendra donc au REVENDEUR de procéder à toute vérification et de demander toute confirmation qu'il jugera utile ;
            </br>(b) MC3 Océan Indien ne pourra être tenue responsable des erreurs typographiques figurant dans le système.
            </br>(2) MC3 Océan Indien ne pourra en particulier être tenue responsable :
            </br>(a) des interruptions ou retards sur le système dus à l’exécution de travaux de maintenance, à des pannes techniques, à la force majeure, au fait de tiers ou à toutes circonstances, quelles qu’elles soient, indépendantes de sa volonté.
            </br>(b) en cas de faits indépendants de sa volonté, notamment en cas d'interruption du réseau Internet ou de la défaillance du matériel de réception du REVENDEUR au réseau Internet ;
            </br>(3) MC3 Océan Indien ne pourra en aucun cas être tenue pour responsable en cas d'utilisation illicite ou abusive des codes d'accès du REVENDEUR et de toute utilisation indue du système en résultant.

            </br></br>EN CONSÉQUENCE LA RESPONSABILITÉ DE MC3 Océan Indien VISÀ- VIS DU REVENDEUR AU TITRE DE L'UTILISATION DU SYSTEME NE POURRA ÊTRE MISE EN CAUSE PAR LE REVENDEUR QUE DANS LE SEUL CAS DE FAUTE LOURDE DÛMENT ÉTABLIE A L'ENCONTRE DE MC3 Océan Indien ET SERA EXPRESSÉMENT LIMITÉE AUX SEULS DOMMAGES DIRECTS, A L'EXCLUSION DE TOUT DOMMAGE INDIRECT TEL QUE PERTE DE BÉNÉFICE OU PRÉJUDICE COMMERCIAL OU D'EXPLOITATION.
        </p>
        <h4><u>3 - Vente à distance de produits par MC3 Océan Indien au revendeur par l'intermédiaire du système.</u></h4>

        <h5><u>3.1 Principes généraux</u></h5>
        <p>
            Le REVENDEUR est autorisé à passer des commandes auprès de MC3 Océan Indien par l'intermédiaire du système à la stricte condition de se conformer aux conditions et procédures prévues par le présent paragraphe pour la passation des commandes et d'accepter que la responsabilité de MC3 Océan Indien soit limitée comme prévu à l'article 2.4 des présentes compte tenu en particulier de ce que ce service de passation de commandes par l'intermédiaire du système est accordé gratuitement au REVENDEUR.
        </p>
        <h5><u>3.2 Procédure pour la passation des commandes</u></h5>

        <h5><u>3.2.1 Accès réservé</u></h5>
        <p>
            L'accès aux modules électroniques de passation de commandes sur le système est strictement réservé au REVENDEUR titulaire d’un code d’accès autorisé, sous réserve de l'acceptation expresse par le REVENDEUR des présentes conditions.
            </br>En conséquence, le REVENDEUR reconnaît et accepte que l'accès aux modules électroniques de passation de commandes par l'intermédiaire du système est subordonné à la justification par le REVENDEUR d’un Code d’accès autorisé. Le REVENDEUR s'engage à ne pas accéder ni chercher à accéder aux modules électroniques de passation de commandes du système sans disposer d'un Code d’accès autorisé et autrement qu'en utilisant ledit Code d’accès conformément aux procédures d'accès.
            </br></br>IL EST EXPRESSÉMENT CONVENU ENTRE LES PARTIES QUE L’UTILISATION D’UN CODE D’ACCES AUTORISE SUR LE SYSTEME CONSTITUERA LA PREUVE IRRÉFUTABLE ET COMPLÈTE DE L’IDENTITÉ DU REVENDEUR ET DE LA QUALITÉ DE LA PERSONNE PHYSIQUE COMPOSANT LE CODE A REPRÉSENTER VALABLEMENT LE REVENDEUR, CE QUE LE REVENDEUR RECONNAÎT EXPRESSÉMENT.
        </p>
        <h5><u>3.2.2 Passation de la commande</u></h5>
        <p>
            La passation d’une commande électronique est soumise au strict respect de la procédure suivante :
            </br>(a) accès du REVENDEUR au système par la saisie de son Code d’accès autorisé ;
            </br>(b) saisie et validation par le REVENDEUR d'un bon de commande électronique comportant identification et quantité des produits commandés (dont la disponibilité est à confirmer le cas échéant par MC3 Océan Indien, les prix d'achat (à confirmer le cas échéant par MC3 Océan Indien) et identification du lieu de livraison;
            </br>(c) confirmation de la commande par MC3 Océan Indien au REVENDEUR, par émail ou tout autre moyen, avec indication le cas échéant des difficultés ou réserves éventuelles soulevées par la commande ;
            </br>(d) dans le cas où la commande passée par le REVENDEUR ne pourrait être acceptée par MC3 Océan Indien, s'engage à lui indiquer par émail ou tout autre moyen les conditions auxquelles la commande pourra être acceptée, telles que les conditions relatives aux produits, aux quantités, au prix d'achat, au lieu de livraison, ou aux frais de gestion, de manutention et de port.
        </p>
        <h5><u>3.2.3 Preuve de la commande passée par l'intermédiaire du système et de la vente résultant de cette commande</u></h5>
        <p>
            Il est expressément convenu entre les Parties que toute passation de commande sur le système réalisée au moyen d’un code d’accès autorisé du REVENDEUR et confirmée par télécopie ou tout autre moyen par MC3 Océan Indien, sera opposable au REVENDEUR comme preuve irréfutable et complète de cette commande.
        </p>
        <h4><u>4 - Confidentialité</u></h4>
        <p>
            Le REVENDEUR s’engage à ne révéler aucune des informations confidentielles auxquelles il peut avoir accès sur le système dans le cadre des présentes conditions notamment en ce qui concerne les prix d'achat des produits MC3 Océan Indien les procédures d'accès au système et les procédures de passation de commande électronique sur le système.
            </br>Cette obligation du REVENDEUR survivra à la cessation des relations commerciales unissant les parties. 
        </p>
        <h4><u>5 - Droit de propriété intellectuelle de MC3 Océan Indien</u></h4>

        <h5><u>5.1</u></h5> 
        <p>
            Le REVENDEUR reconnaît que toutes les données, images, photographies et textes incluant notamment les fiches produits et les comparatifs techniques rendus accessibles par MC3 Océan Indien sur le système restent la propriété entière et exclusive de MC3 Océan Indien et sont exclusivement réservés à l’usage interne du REVENDEUR.
            </br>Le REVENDEUR s’interdit en conséquence sans autorisation préalable et écrite de MC3 Océan Indien :
            </br>(i) de dupliquer, copier, imprimer ou publier ces données, images, photographies et textes et, plus généralement, de les utiliser à toute fin commerciale ;
            </br>(ii) de ne procéder à aucune extraction de ces données, images, photographies et textes ;
            </br>(iii) d'utiliser ces données, images, photographies et textes comme base dans l’élaboration de catalogues ou autres outils marketing ;
        </p>
        <h5><u>5.2</u></h5> 
        <p>
            Le REVENDEUR reconnaît les droits exclusifs de MC3 Océan Indien sur sa marque MC3 Océan Indien et s'interdit d'en faire un usage quelconque.
        </p>
    </div>
</div>
