@{
    ViewBag.Title = "Contact";
}


<script src="http://maps.googleapis.com/maps/api/js"></script>

<div class="col-xs-12">
    <h1>MC3 Océan Indien</h1>
</div>
    
<div class="col-md-4">
    <h3>Nord</h3>
    <address>
        <p>
            36 rue Coco Robert<br />
            Sainte Marie, <b>97438</b>
        </p>
    </address>
    </br>
    <div id="mapStemarie" style="width:300px;height:180px;"></div>
</div>
<div class="col-md-4">
    <h3>Sud</h3>
    <address>
        <p>
            4 Avenue Charles Isautier<br />
            ZI N° 3<br />
            Saint Pierre, <b>97410</b>
        </p>
    </address>
    
    <div id="mapStpierre" style="width:300px;height:180px;"></div>
</div>
<div class="col-md-4">
    <h3>Contact mail</h3>
    mc3reunion@mc3.fr
</div>