<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Trier par Marque
        <span class="caret"></span>
    </button>
    <img src="~/Content/img/loading.gif" width="20" height="20" style="display: none;" id="loading" />
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

        @foreach (string item in @ViewBag.fam)
        {
            <li role="presentation">
                
                <a href="#" data-fam="@item" class="famille">@item</a>
            </li>
        }
    </ul>
</div>